# ignore temp 
/tmp/*

# ignore payments.csv
/webhooks/csv/private/*.csv

# ignore strikeout configs
/config/*
/methods/*/config/*
/webhooks/*/config/*

#ignore logs, temp swap files, and vim tag files
error_log
*.log
*.swp
tags

#include all index.php files
!index.php

