# ignore vim tags
tags

# ignore testing tmp
/tmp/*

# ignore payments.csv
*.csv

# ignore strikeout config.php
config.php
methods.php
plugins.php

# ignore frontaccounting configs
db-config.php
fa-config.php

#ignore swap files
*.swp

#ignore log files
error_log
*.log
