# ignore vim tags
tags

# ignore testing tmp
/tmp/*

# ignore payments.csv
/webhooks/csv/private/*.csv

# ignore strikeout config.php
/config/config.php
/config/methods.php
/methods/*/config/plugins.php
/methods/*/config/config.php

# ignore frontaccounting configs
/webhooks/frontaccounting/config/db-config.php
/webhooks/frontaccounting/config/*fa-config.php

#ignore swap files
*.swp

#ignore log files
error_log
*.log



