/*--------------------------------------------------\
| flatcolor2	  |				  | default.css		|
|---------------------------------------------------|
| For use with:										|
| FrontAccounting									|
| http://FrontAccounting.com/						|
| by Joe Hunt Consulting							|
|---------------------------------------------------|
| Developer:										|
| Joe Hunt											|
|													|
|---------------------------------------------------|
| Note:												|
| Changes can be made to this CSS that will be		|
| reflected throughout FrontAccounting.				|
|													|
\--------------------------------------------------*/
body {
	background-color: #fff;
	margin: 0 4px;
	padding: 0;
	text-align: center;
}

body,td,th {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
}

/* Main */
#main {
	margin-left: 220px;
	margin-top: 70px;
	transition: margin-left .5s;
}

tr, td, th {
	line-height: 17px;
	color: #111;
}
table {
	text-align: left;
}

textarea {
	font-size: 12px;
}

input, select
{
	font-size: 11px;
	padding: 1px;
}

select {
	max-width: 200px;
}

option.inactive {
	text-decoration: line-through;
	color: gray;
}

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}

a, a:active {
	color: #045c97;
	text-decoration: none;
}
a:hover, a:focus {
	color: #4f9adb;
	text-decoration: underline;
}
a:visited {
	color: #045c97;
	text-decoration: none;
}
.clear {
	clear: both;
}
.nodisp {
	display: none;
}
.italic {
	font-style: italic;
}
.flleft {
	float: left;
}
.flright {
	float: right;
}

/* Body */
.fa-body {
	width: 100%;
	background-color: #fff;
	border-radius: 6px;
	margin: 0;
	padding: 6px 0 0 0;
}

/* Content */
.fa-content {
	width: 100%;
	margin: 0;
	padding: 6px 10px 5px 0;
	vertical-align: top;
}

/* Footer */
.fa-footer {
	background-color: #f1f1f1;
	height: 11px;
	margin: 0;
	padding: 10px;
	text-align: center;
	font-size: 11px;
	color: #036;
}

.fa-footer .power a { font-size: 11px; padding: 0 12px 0 12px; text-align: center; background: transparent url(images/News.png) no-repeat center left; color: #045c97; }
.fa-footer .date { font-size: 11px; padding: 0 12px 0 12px; text-align: center; color: #045c97; }

h1 {
	font-size: 14px;
	margin-right: 20px;
	color: #466f01;
}
h2, .titletext {
	font-weight: bold;
	font-size: 13px;
	color: #555;
	padding: 5px 5px 5px 18px;
}
.titletext {
	border-bottom: 1px solid #ccc;
}

h3 {
	font-size: 100%;
	padding-top: 1ex;
	padding-bottom: 1ex;
}

.fa-footer .power a { font-size: 11px; padding: 0 12px 0 12px; text-align: center; background: transparent url(images/News.png) no-repeat center left; color: #045c97; }
.fa-footer .date { font-size: 11px; padding: 0 12px 0 12px; text-align: center; color: #045c97; }

hr {
	background: #ccc;
	border: 0;
	color: #ccc;
	height: 1px;
}

.tableheader {
	font-weight: bold;
	background-color: #4fa9d2;
	color: #fff;
	text-align: center;
}

.tableheader2 {
	font-weight: bold;
	background-color: #4fa9d2;
	color: #fff;
	text-align: left;
}

.tableseparator {
	border-left: 1px solid #ccc;
}

.headingtext {
	font-weight: bold;
	font-size: 12px;
	color: #555;
}

.headingtext2 {
	font-size: 12px;
	color: black;
}

.headingtext3 {
	font-weight: bold;
	font-size: 10px;
	color: black;
}

.errortext {
	font-size: 12px;
	color: #f00;
	font-weight: bold;
}

.inputsubmit {
	font-size: 11px;
	color: #fff;
	border: 1px #008cba solid;
	background-color: #008cba;
	padding: 3px 4px;
}

.ajaxsubmit {
	font-size: 11px;
	color: #fff;
	border: 1px #008cba solid;
	background-color: #008cba;
	padding: 3px 4px;
}

.oddrow {
	background-color: #fafafa;
}

.evenrow {
	background-color: #fff;
}

.overduebg {
	background-color: pink;
}

.overduefg {
	color: pink;
}

.currentfg {
	color: #f66;
}

.redfg, a.redfg {
	color: red;
	font-weight: bold;
}

.settledbg {
	background-color: #0b0;
}

.settledfg {
	color: #0b0;
}

.inquirybg {
	background-color: #fdfeef;
}

.currencybg {
	background-color: #e88;
}

.stockmankobg {
	background-color: pink;
}

.stockmankofg {
	color: red;
}

table.tablestyle {
	border-collapse: collapse;
	border: none;
}
table.tablestyle td {
	border-collapse: collapse;
	border: 1px solid #eee;
}
table.tablestyle2 {
	border-collapse: collapse;
	border: 1px solid #eee;
}
table.tablestyle2 td {
	border-collapse: collapse;
	border: 1px solid #eee;
}
table.tablestyle_inner {
	border-collapse: collapse;
	border: 1px solid #fafafa;
}
table.tablestyle_inner td {
	border-collapse: collapse;
	border: 1px solid #fafafa;
}
.tablestyle_noborder {
	padding: 3px;
}

.label {
	background-color: #fafafa;
	color: #111;
	padding-left: 4px;
}

#loginscreen {
	background: #f5f5f5;
}

.login {
	width: 350px;
	border-left: 12px solid #367cb5;
	border-collapse: collapse;
	background-color: #eeeeee;
}
.login td {
	border-collapse: collapse;
	border: 1px solid #cccccc;
}

.login select, .login input[type=text], input[type=password] {
	height:25px;
	width: 225px;
	padding-left: 3px;
	box-sizing: border-box;
	border: 1px solid #bbb;
	border-radius: 4px;
	background-color: #fff;
	outline: none;
}

.login input[type=button], input[type=submit] {
  background-color: #367cb5;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}


.amount {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	text-align: right;
}

input.amount {
	padding-right: 0px;
}

.editbutton {
	color:#00f;
	background-color:transparent;
	border-style:none;
	text-decoration:none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.navibutton[disabled] {
	color:#ccc;
	text-decoration:none;
	cursor: auto;
}

button.navibutton {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:#fff;
	padding: 0 3px;
	background-color: transparent;
	border-style:none;
	cursor: pointer;
}

.navibutton span {
	text-decoration:underline;
}

.navibar {
	padding: 0 3px;
	color: #fff;
	border: 1px solid #e1e1e1;
	border-collapse: collapse;
	background-color: #4fa9d2;
}

.listsubmit {
	display: none;
}

.inactive {
	color: gray;
	cursor: none;
}

button {
	font-size: 11px;
	border: 1px #0066cc solid;
	padding: 1px 0px;
}

button img, span {
	padding: 0px 2px ;
	vertical-align: middle;
}

ul.ajaxtabs{
	padding: 3px 0 0 0;
	margin: 3px 3px 0 3px;
	font: 12px Tahoma,Verdana;
	font-weight: bold;
	text-align: left;
}

ul.ajaxtabs li{
	list-style: none;
	margin: 0;
	display: inline;
}

ul.ajaxtabs li button{
	background-color: #f1f1f1;
	padding: 3px 8px;
	margin: 0px;
	border-left: 1px solid #4fa9d2;
	border-top: 1px solid #4fa9d2;
	border-right: 1px solid #4fa9d2;
	border-bottom: none;
	font-weight: bold;
}

ul.ajaxtabs li button:hover{
	border-left: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	color:#888;
}
div.spaceBox{
	background-color: #4fa9d2;
	height:8px;
	border-bottom: 1px solid #4fa9d2;
	border-left: 1px solid #4fa9d2;
	border-right:1px solid #4fa9d2;
	margin: 0 3px 0px 3px
}

div.contentBox{
	border: 1px solid #ccc;
	margin: 0 3px 3px 3px;
}

ul.ajaxtabs li button.current, ul.ajaxtabs li button.current:hover{
	border-left: 1px solid #4fa9d2;
	background-color: #4fa9d2;
	color:#fff;
}
#hints {
	font-size: 12px;
	padding: 5px;
	border-bottom: 1px solid #4fa9d2;
	margin: -4px -2px -2px;
	border: 1px solid #4fa9d2;
	background-color: #ffffea;
	white-space: nowrap;
}

img { border: 0; }

/*
	Calendar style
*/
#CCIframe {
	display: none;
	left: 0px;
	position: absolute;
	top: 0px;
	height: 250px;
	width: 270px;
	z-index: 99;
}
#CC { 
	position:absolute;
	background-color:#FFF;
	margin:0; padding:0;
	display:none;
	z-index: 100;
}
#CC table { 
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 8pt;
	border-left: 1px solid #336;
	border-right: 1px solid #336;
}
#CC th {
	font-weight: normal;
	text-align: center;
}
#CC th a {
	font-weight: normal;
	text-decoration: none;
	color: #FFF;
	padding: 1px;
}
#CC td {
	text-align: center;
}
#CC .header {
	background-color: #4fa9d2;
}
#CC .weekday {
	background-color: #eee;
	color: #000;
}
#CC .weekend {
	background-color: #FFC;
	color: #000;
}
#CC .weekno {
	background-color: #f1f1f1;
	color: #555;
}
#CC .current {
	border: 1px solid #339;
	background-color: #4fa9d2;
	color: #FFF;
}
#CC .weekday, #CC .weekend, #CC .current {
	display: block;
	text-decoration: none;
	border: 1px solid #FFF;
	width: 2em;
}
#CC .weekday:hover, #CC .weekend:hover, #CC .current:hover {
	color: #FFF;
	background-color: #4fa9d2;
	border: 1px solid #999;
}
#CC .previous {
	text-align: left;
}
#CC .next {
	text-align: right;
}
#CC .previous, #CC .next {
	padding: 1px 3px 1px 3px;
	font-size: 1.4em;
}
#CC .previous a, #CC .next a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}
#CC .title {
	text-align: center;
	font-weight: bold; 
	color: #FFF;
}
#CC .empty {
	background-color: #ddd;
	border: 1px solid #FFF;
}

div.err_msg {
	margin: 10px;
	padding: 3px;
	border: 1px solid #cc3300;
	background-color: #ffcccc;
	color: #dd2200;
	text-align: center;
}

div.warn_msg {
	margin: 10px;
	padding: 3px;
	border: 1px solid #ff9900;
	background-color: #ffff00;
	color: #ff5500;
	text-align: center;
}

div.note_msg {
	margin: 10px;
	padding: 3px;
	border: 1px solid #33cc00;
	background-color: #ccffcc;
	color: #007700;
	text-align: center;
}

#title {
	margin-bottom: 10px;
	width: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
	width: 100%;
	background-color: #fff;
	overflow: hidden;
	margin-bottom: 1px;
	position: fixed;
	top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
	font-size: 13px;
	font-weight: bold;
	float: left;
	color: #111;
	text-align: center;
	padding: 7px 10px;
	height: 15px;
	text-decoration: none;
  }

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #d9d9d9;
	color: #111;
}
.topnav .right {
	float: right;
	padding: 2px 12px 2px 0;
}	

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #4fa9d2;
	color: #fff;
}

.menu2 {
	font-size : 12px;
	color: #111;
	width: 100%;
	margin-top: 15px;
	margin-left: 0;
	top: 15px;
	position: fixed;
	background-color: #f1f1f1;
	padding: 2px 10px 10px 4px;
	height: 28px;
	text-align: left;
}
#header { margin: 0; }
#header ul {float: right; font-size: 12px; margin: 0 10px 0 0;padding-top:10px;}
#header li{ list-style: none; display: inline; margin: 0; }
#header li a{ font-size: 12px; color: #045c97; text-decoration: none; padding: 0 10px 0 16px; }
#header h1{padding: 5px 0 2px 0;margin: 0; white-space: nowrap;}
#header h1 .but {background-color:#f1f1f1;border:none;}

#sidebar {
	width: 220px;
	margin-top: 34px;
	height: 100%;
	top: 34px;
	position: fixed;
	z-index: 1;
	overflow: auto;
	transition: 0.5s;
	color: #000;
	background: linear-gradient(to bottom, #f1f1f1 0%, #fafafa 100%);
}
.accordion {
	color: #222;
	cursor: pointer;
	padding: 8px 10px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 14px;
	text-align: left;
	background-color: #f1f1f1;
	transition: 0.4s;
}

.accordion.active, .accordion:hover {
	background-color: #d9d9d9;
	color: #111;
}
.accordion:after {
	content: url("images/menu_down.png");
	color: #777;
	float: right;
	margin-right: 20px;
}
.accordion.active:after, .accordion:hover:after {
	font-weight: 900;
	content: url("images/menu_right.png");
	color: #111;
}

#sidebar ul {
	margin: 2px 0;
	background-color: #fbfbfb;
	width: 100%;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

#sidebar ul {
	list-style: none;
	padding: 0 0 0 10px;
	margin: 0;
}
#sidebar ul li {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 4px 0;
	list-style: none;
	text-align:left;
	display: block;
}
#sidebar ul li a {
	text-decoration: none;
	color: #111;
}
#sidebar .header {
	border-top: 2px solid #f9f9f9;
	border-bottom: 2px solid #f9f9f9;
	padding: 20px;
	overflow: hidden; 
}

#sidebar .header .user-pic {
	float: left;
	width: 60px;
	padding: 2px;
	margin-right: 15px;
	overflow: hidden; 
}
#sidebar .header .user-pic .user-img {
	object-fit: cover;
	height: 100%;
	width: 100%; 
}
#sidebar .header .user-info {
	float: left; 
	text-align: left;
	line-height: 1.6;
	margin-top: 5px;
}
#sidebar .header .user-info > span {
	display: block; 
}
#sidebar .header .user-info .user-role {
	font-size: 12px; 
}
#sidebar .header .user-info .user-status {
	font-size: 11px;
	margin-top: 4px; 
}
#sidebar .header .user-info .user-status i {
	font-size: 11px;
	margin-right: 4px;
	color: #5cb85c; 
}
.circle {
	height: 13px;
	width: 13px;
	font-size:10px;
	background-color: #008cba;
	color: #fff;
	/*position: absolute;
	left: 170px;*/
	padding-top: 2px;
	vertical-align:middle;
	text-align:center;
	border-radius: 50%;
	display: inline-block;
}
.line {
	border-top: 1px solid #555;
}

@media screen and (min-width: 1024px) {
	body,td,th, input, select, .fa-footer, .fa-footer .power a, .fa-footer .date, .inputsubmit, .ajaxsubmit, 
	.amount, button.navibutton, button, #sidebar .header .user-info .user-status, 
	#sidebar .header .user-info .user-status i  { font-size: 12px; }
	#sidebar { width: 230px; }
	#main { margin-left: 230px; }
	textarea, .tableheader, .tableheader2, .headingtext, .headingtext2, .errortext, #hints, #header ul, #header li a, 
	.menu2, #sidebar ul li, #sidebar .header .user-info .user-role { font-size: 13px; }
	h1, .menu_group, .infoline, .accordion { font-size: 15px; }
	h2, .titletext, .topnav a { font-size: 14px; }
	.headingtext3, .circle { font-size: 11px; }
	#CC table { font-size: 9pt; }
	#CC .previous, #CC .next { font-size: 1.4em; }
}
@media screen and (min-width: 1200px) {
	body,td,th, input, select, .fa-footer, .fa-footer .power a, .fa-footer .date, .inputsubmit, .ajaxsubmit, 
	.amount, button.navibutton, button, #sidebar .header .user-info .user-status,
	#sidebar .header .user-info .user-status i { font-size: 13px; }
	#sidebar { width: 240px; }
	#main { margin-left: 240px; }
	textarea, .tableheader, .tableheader2, .headingtext, .headingtext2, .errortext, #hints, #header ul, #header li a,
	.menu2, #sidebar ul li, #sidebar .header .user-info .user-role { font-size: 14px; }
	h1, .menu_group, .infoline, .accordion { font-size: 16px; }
	h2, .titletext, .topnav a { font-size: 15px; }
	.headingtext3, .circle { font-size: 12px; }
	#CC table { font-size: 10pt; }
	#CC .previous, #CC .next { font-size: 1.4em; }
}
