<?php

// Front accounting SQL settings
$db = array(
  'hostname' => 'localhost', // your sql server hostname
  'username' => 'sql user here', //sql username with db access
  'password' => 'password here', // sql password for user
  'db_name' => 'sql db name', // name of the front database
  'table_pref' => '0_' // your company table do '' if you have none
);

// Front accounting strike webhook settings
$fa = array(
  'user_login' => 'The FA user to enter payments', //FA user to enter payments
  'bank_acct_name' => 'the FA  bank account', // bank account name to deposit to
  'timezone' => 'America/Los_Angeles', // you tz from tz database
  'debit_acct' => '1080', // ledger account to debit
  'credit_acct' => '1200' // ledger account to credit
);
